.banner{
    background: url(../img/banner-bg.jpg);
    height: 50vh;
    background-repeat: no-repeat;
    position:relative;
}

.banner__booking{
    color: #333;
    background-color: #fff;
    margin-left: 75px;
    padding-top: 30vh;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
    width: 300px;
}